/* MAIN */
.jumbotron-1{
    background-color: #e3e3f9; 
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
}
.jumbotron-2{
    background-image: url("./assets/bitmap.png");
    /* height: 100px; */
}
.jumbo1-content{
    width: 100%;
}
.jumbotron-3-title{
    margin-top : 50px;
    line-height: 150%;
}
/* ---- */



/* POSITIONING */
.ta-center{
    text-align: center;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}
.ta-justify{
    text-align: justify;
}
/* ----------- */




/* BACKGROUND */
.bg-orange{
    background-color: orange;
}
/* ---------- */



/* WIDTH */
.width-100{
    width: 100%;
}
.width-90{
    margin-left: 5%;
    margin-right: 5%;
}
.width-80{
    margin-left: 10%;
    margin-right: 10%;
}
.width-60{
    margin-left: 20%;
    margin-right: 20%;
}
.width-40{
    margin-left: 30%;
    margin-right: 30%;
}
/* ----- */



/* OTHERS */
.mt-program{
    width: 300px;
    margin: 0 auto;
}
.hr-red{
    border-top: 10px solid red;
    width: 100%;

}
/* h1{
    margin: 0 auto;
} */
.image-responsive{
    width: 100%;
    max-height: 400px;
}
/* .cover{
    width: 100%;
    max-height: 200px;
} */
/* ------ */



/* MOBILE WIDTH */
@media only screen and (max-width:)
/*  */